.fas {
  color: #f8f8f7dc;
}

.fa-sort, .fa-trash{
  color: #f5a700;
}

.cart-btn {
  color: rgba(255, 255, 255, 0.89)!important;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #f5b942, #f8951c);
  padding: 10px;
  width: 150px;
  height: 45px;
  font-family: bebe!important;
  font-size: 19px;
}

.cart-btn:hover {
  transition: opacity 0.6s;
  transition-timing-function: ease-in-out;
  opacity: 0.9;
  background: linear-gradient(to bottom right, #f8951c, #f5b942);
}

.MuiPaginationItem-root {
  color: #b6b6b6!important;
  background-color: #3534314d!important;
}

.Mui-selected {
  color: #ffffff!important;
  background-color: #363533!important;
}

.MuiPagination-ul{
  width: 60%!important;
  margin: 0 auto!important;
  padding-bottom: 50px!important;
}

.card {
  background-color: #0d0c0a!important;
  width: 100%!important;
  text-align: center;
  font: bebe!important;
}

button{
  background-color:rgba(0, 255, 255, 0);
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.829);
}

.cart-control{
  background-color: #292928ce;
  padding: 3px 0px!important;
  border-radius: 5px;
  margin: 10px!important;
}

.right-btn{
  border-right: 2px solid rgba(255, 255, 255, 0.336);
}

.left-btn{
  border-left: 2px solid rgba(255, 255, 255, 0.336);
}

.text-font{
  font: bebe!important;
  display: inline;
  font-size: 20px;
}

.opacity:hover{
  transition: opacity 0.1s;
  transition-timing-function: ease-in;
  opacity: 0.6;
}